*,*::after,*::before{
  padding: 0;
  margin: 0;
}

body{
  background: black url('../images/akvarium.jpg') no-repeat;
  background-size: cover;
}

.fish{
  position: absolute;
  width: 32px;
  height: 32px;
}

.toLeft{
  -moz-transform: scale(-1, 1); /* Для Firefox */
    -ms-transform: scale(-1, 1); /* Для IE */
    -webkit-transform: scale(-1, 1); /* Для Safari, Chrome, iOS */
    -o-transform: scale(-1, 1); /* Для Opera */
    transform: scale(-1, 1);
}
.toRight{
  -moz-transform: scale(1, 1); /* Для Firefox */
    -ms-transform: scale(1, 1); /* Для IE */
    -webkit-transform: scale(1, 1); /* Для Safari, Chrome, iOS */
    -o-transform: scale(1, 1); /* Для Opera */
    transform: scale(1, 1);
}
